{% extends 'base_app.html' %}
{% block content %}
<div class="mb-3" id="boardTitle">
    <div class="h3 d-inline">{{ board }}</div>
    <div class="d-inline ml-1">
        <a href="#" class="show-form-update" data-url="{% url 'board_update' board.pk %}">
            <i class="bx bx-edit-alt" id="icon"></i>
        </a>
    </div>
    <div class="d-inline ml-1">
        <a href="#" class="show-form-delete" data-url="{% url 'board_delete' board.pk %}">
            <i class="bx bx-trash bx-lg" id="icon"></i>
        </a>
    </div>
</div>
<div class="row flex-row flex-nowrap" id="columns">
    {% for column in columns %}
    <div class="col-12 col-sm-6 col-lg-6 col-xl-3" id="{{ column.lower }}">
        <div class="card mb-3" id="outerColumn">
            <div class="card-header">
                <h5 class="card-title bold-txt">{{ column }}</h5>
            </div>
            <div class="card-body dyn-height" id="innerColumn">
                {% for job in jobs %}
                {% if job.progress == column %}
                <div class="card" id="jobCard">
                    <a href="{% url 'job_update' job.board.pk job.pk %}" class="card-body">
                        <h5>{{ job.company }}</h5>
                        <h3 class="bold-txt">{{ job.title }}</h3>
                        <p style="margin-bottom: 0rem;">{{ job.deadline }}</p>
                    </a>
                    <div class="ml-auto px-2 pb-2 pt-0">
                        <a href="#" class="btn btn-outline-danger btn-sm show-form-delete" data-url="{% url 'job_delete' job.board.pk job.pk %}">Delete</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <a href="{% url 'job_create' board.pk %}" class="add-card-btn btn">
                +
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}