{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block body_id %}id="appBody"{% endblock body_id %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3">
        <div class="content">
            <div class="mb-3">
                <h3>Boards</h3>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6" id="addBoard">
                    <a href="#" class="card mb-3 show-form-create" data-url="{% url 'board_create' %}">
                        <div class="card-body d-flex justify-content-center">
                            <div class="card-text text-truncate">
                                Add Board
                            </div>
                        </div>
                    </a>
                </div>
                {% for board in boards %}
                <div class="col-12 col-sm-6">
                    <a href="{% url 'board_detail' board.slug %}" class="card mb-3">
                        <div class="card-body d-flex justify-content-center">
                            <div class="card-text text-truncate">
                                {{ board }}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/sidenav.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock script %}