<div class="modal-header d-block pb-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="mb-3">
        <h3>Job: {{ job.slug }}</h3>
    </div>
    <nav class="nav nav-justified mb-0" id="tabs">
        <a class="nav-item nav-link active" href="#" data-id="job">
            <i class="bx bx-info-square" id="icon"></i>
            Info
        </a>
        <a class="nav-item nav-link" href="#" data-id="tasks">
            <i class="bx bx-task" id="icon"></i>
            Tasks
        </a>
        <a class="nav-item nav-link" href="#" data-id="notes">
            <i class="bx bx-note" id="icon"></i>
            Notes
        </a>
    </nav>
</div>
<div class="modal-body">
    <div class="tabcontent" id="job">
        {% include 'app/job_update.html' %}
    </div>
    <div class="tabcontent" id="tasks" hidden>
        {% include 'app/task_list.html' %}
    </div>
    <div class="tabcontent" id="notes" hidden>
        {% include 'app/note_update.html' %}
    </div>
</div>
<script>
    $("#tabs").on('click', '.nav-link', function () {
        var clickedTab = $(this);
        var clickedTabId = clickedTab.data('id');
        $("a.active").removeClass('active');
        $(".tabcontent").prop('hidden', true);
        $("#" + clickedTabId).prop('hidden', false);
        clickedTab.addClass('active');
    });
</script>