<div class="modal-header d-block pb-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="mb-3">
        <h3>{{ job.company }}</h3>
        <h5>{{ job.title }}</h5>
    </div>
    <nav class="nav nav-justified mb-0">
        <a class="nav-item nav-link load-job-info" href="#" data-url="{% url 'job_update' job.board.slug job.slug %}">
            <i class="bx bx-info-square" id="icon"></i>
            Info
        </a>
        <a class="nav-item nav-link load-job-info" href="#" data-url="{% url 'task_list' job.slug %}">
            <i class="bx bx-task" id="icon"></i>
            Tasks
        </a>
        <a class="nav-item nav-link load-job-info" href="#" data-url="{% url 'note_update' job.slug %}">
            <i class="bx bx-note" id="icon"></i>
            Notes
        </a>
    </nav>
</div>
<div class="modal-body">
</div>