{% extends 'base_app.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper">
    <h2>{{ job.title }}</h2>
    <h5>{{ job.company }}</h5>
    <br>
    <nav class="nav nav-pills nav-justified breadcrumb">
        <a class="nav-item nav-link" href="{% url 'job_update' job.board.pk job.pk %}">Job Info</a>
        <a class="nav-item nav-link" href="{% url 'task_list' job.pk %}">Tasks</a>
        <a class="nav-item nav-link active" href="#">Notes</a>
    </nav>
    <form class="form-login py-3" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button class="btn btn-dark" type="submit">Edit</button>
    </form>
</div>
{% endblock content %}