{% load static %}

<div class="d-flex flex-column h-100 position-fixed side-bar" id="sidebar">
    <div class="p-3 mx-auto">
        <img src="{% static 'img/logo-alt.png' %}" height="22px">
    </div>
    <nav class="nav flex-column mb-auto text-center">
        <a href="{% url 'board_list' %}" class="side-nav-link" title="boards" data-bs-toggle="tooltip">
            <i class="bi bi-grid fs-4"></i>
        </a>
        <a href="{% url 'metrics' %}" class="side-nav-link" title="metrics" data-bs-toggle="tooltip">
            <i class="bi bi-bar-chart fs-4"></i>
        </a>
    </nav>
    <div class="dropdown border-top">
        <a href="#"
            class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'img/user.png' %}" alt="user" class="rounded-circle" width="24" height="24">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
            <li><a href="{% url 'account_detail' %}" class="dropdown-item">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a href="{% url 'logout' %}" class="dropdown-item">Sign out</a></li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", (e) => {
        const windowPath = window.location.pathname.split("/")[1];
        if (windowPath !== "accounts") {
            document.querySelector(`[title=${windowPath}]`).classList.add("active");
        }
    });
</script>