{% load static %}

<div class="side-bar" id="sideBar">
    <nav class="side-nav">
        <div>
            <div class="side-nav-logo">
                <img src="{% static 'img/logo-alt.png' %}" height="20px">
                <span class="side-nav-logo-name">
                    Job <span>Tracker</span>
                </span>
            </div>
            <div>
                <a href="{% url 'board_list' %}" class="side-nav-link" id="boards">
                    <i class="bi bi-grid fs-4"></i>
                    <span>Boards</span>
                </a>
                <a href="{% url 'metrics' %}" class="side-nav-link" id="metrics">
                    <i class="bi bi-bar-chart fs-4"></i>
                    <span>Metrics</span>
                </a>
                <a href="{% url 'account_detail' %}" class="side-nav-link" id="accounts">
                    <i class="bi bi-person-circle fs-4"></i>
                    <span>Account</span>
                </a>
            </div>
        </div>
    </nav>
</div>