<form method="post" data-url="{% url 'task_list' job.slug %}" class="task-form">
    {% csrf_token %}
    <div class="input-group pb-3">
        {{ form.task }}
        <span class="input-group-append">
            <button class="btn btn-dark" type="submit">Add</button>
        </span>
    </div>
</form>
<div class="pb-3" id="taskList">
    {% for task in tasks %}
    <div class="card mb-1" id="taskCard" data-id="{{ task.id }}">
        <div class="card-body">
            <div class="form-check-inline overflow">
                <input class="form-check-input float-left task-complete" type="checkbox"
                    {% if task.completed %}checked{% endif %}>
                <label class="form-check-label">
                    {{ task }}
                </label>
            </div>
            <button type="button" class="close float-right task-delete">
                <span aria-hidden="true"><i class="bx bxs-x-square"></i></span>
            </button>
        </div>
    </div>
    {% endfor %}
</div>