{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3">
        <div class="content">
            <h3 class="mb-3">Metrics</h3>
            <div class="row g-4 mb-4">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="me-3">
                                    <i class="bi bi-calendar" style="font-size: 2rem;"></i>
                                </span>
                                <div class="text-end">
                                    <h5 class="fw-bold">Applied</h5>
                                    <h5 class="fw-bold mb-0">{{ applied_count }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="me-3">
                                    <i class="bi bi-telephone" style="font-size: 2rem;"></i>
                                </span>
                                <div class="text-end">
                                    <h5 class="fw-bold">Phone</h5>
                                    <h5 class="fw-bold mb-0">{{ phone_count }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="me-3">
                                    <i class="bi bi-building" style="font-size: 2rem;"></i>
                                </span>
                                <div class="text-end">
                                    <h5 class="fw-bold">Onsite</h5>
                                    <h5 class="fw-bold mb-0">{{ onsite_count }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="me-3">
                                    <i class="bi bi-check-square" style="font-size: 2rem;"></i>
                                </span>
                                <div class="text-end">
                                    <h5 class="fw-bold">Offer</h5>
                                    <h5 class="fw-bold mb-0">{{ offer_count }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-12 col-lg-3">
                    <div class="card h-100">
                        <div class="card-header bg-transparent border-bottom-0">
                            <h5 class="fw-bold">Recent Jobs</h5>
                        </div>
                        <div class="card-body pt-0" style="overflow: auto;">
                            {% for job in recent_jobs %}
                            <div class="card btm-shadow mb-3">
                                <div class="card-body">
                                    <h6 class="fw-bold">{{ job }}</h6>
                                    <p class="text-muted mb-0">{{ job.updated_at|timesince|upto:"," }} ago</p>
                                </div>
                            </div>
                            {% endfor %}
                            <div style="padding-bottom: 0.75rem;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="card h-100">
                        <div class="card-header bg-transparent border-bottom-0">
                            <h5 class="fw-bold">Activity Chart</h5>
                        </div>
                        <div class="card-body pt-0">
                            <div class="card">
                                <canvas id="activityChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", async (e) => {
        const url = "{% url 'metrics_chart' %}";
        const requestOptions = {
            method: "GET",
            headers: { "X-Requested-With": "XMLHttpRequest" },
        };
        const response = await fetch(url, requestOptions);
        const data = await response.json();
        const ctx = document.querySelector("#activityChart").getContext("2d");
        new Chart(ctx, {
            type: "line",
            data: data,
            options: {
                scales: { yAxes: [{ ticks: { beginAtZero: true, precision: 0 } }] },
            },
        });
    });
</script>
{% endblock script %}