appdirs==1.4.4
asgiref==3.4.1
black==21.7b0
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
crispy-bootstrap5==0.4
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==3.2.5
django-cache-url==3.2.3
django-chartjs==2.2.1
django-crispy-forms==1.12.0
djangorestframework==3.12.4
emoji==1.4.2
environs==9.3.2
gunicorn==20.1.0
idna==3.2
lxml==4.6.3
marshmallow==3.13.0
mypy-extensions==0.4.3
pathspec==0.9.0
psycopg2-binary==2.9.1
python-dotenv==0.19.0
pytz==2021.1
regex==2021.7.6
requests==2.26.0
shortuuid==1.0.1
sqlparse==0.4.1
tomli==1.1.0
urllib3==1.26.6
whitenoise==5.3.0
