{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block body_id %}id="appBody"{% endblock body_id %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3">
        <div class="content">
            <div class="mb-3">
                <h3>Account</h3>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-6 text-secondary">
                            {{ user.username }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-6 text-secondary">
                            {{ user.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0">Date Joined</h6>
                        </div>
                        <div class="col-6 text-secondary">
                            {{ user.date_joined.date }}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'password_change' %}" class="btn btn-dark">
                Change Password
            </a>
        </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/sidenav.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock script %}