{% extends 'base_app.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper">
    <div class="mb-3">
        <h3>Password Change</h3>
    </div>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form class="form-login" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-dark" type="submit">Change</button>
    </form>
</div>
{% endblock content %}