{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3">
        <div class="content">
            <div class="mb-3">
                <h3>Password Change Successful</h3>
            </div>
            <p>Your password was changed.</p>
        </div>
    </div>
</main>
{% endblock content %}