{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3">
        <div class="content">
            <div class="mb-3">
                <h3>Password Change</h3>
            </div>
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can
                verify you typed it in correctly.</p>
            <form class="form-login" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark" type="submit">Change</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}