<script>
    var initSummernote = function () {
        var origin = $("textarea.summernoteinplacewidget");
        var settings = {{ settings| safe }};
        $(origin).summernote($.extend(settings, {
            callbacks: {
                // remove formatting on paste
                onPaste: function (e) {
                    var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');

                    e.preventDefault();

                    setTimeout(function () {
                        document.execCommand('insertText', false, bufferText);
                    }, 10);
                },
                // submit form on blur
                onBlur: function () {
                    var form = $(this).parents("form");
                    var formName = form.attr('name');
                    if (formName === 'jobUpdate') {
                        form.submit();
                    }
                }
            }
        }));
    }

    initSummernote();
</script>