{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/pages.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'pages/header.html' with button_href='login' %}
<div class="content">
    <div class="row">
        <div class="col-12 col-xl-5 my-auto">
            <h1 class="fw-bold">Track all of your job applications in one place</h1>
            <h4>Job Tracker allows users to see their active job applications at a glance.</h4>
            <div class="home-buttons d-flex mt-4">
                <a href="{% url 'signup' %}" class="rounded-3 fw-bold transition" id="homeSignup">
                    Sign up
                </a>
                <div id="homeGuestSignup">
                    <a href="{% url 'guest_signup' %}" class="fw-bold">
                        or, view a demo board
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-7 home-img">
            <img src="{% static 'img/homepage.png' %}" class="mw-100">
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-6">
        <div class="col">
            <div class="card border-m rounded-lg h-100" style="border-color:#fd7576;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Save Jobs</h5>
                    <p class="card-text">Use the scraping tool to easily save jobs from popular job boards such as Indeed
                        and Totaljobs.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-m rounded-lg h-100" style="border-color:#fec85d;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Create Tasks</h5>
                    <p class="card-text">Track the steps you need to take to land that job, from writing a cover letter to
                        preparing for the big interview.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-m rounded-lg h-100" style="border-color:#4db8de;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Quick Analytics</h5>
                    <p class="card-text">Monitor your job search with insightful metrics that allow you to see the progress
                        you've made.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="border-top mt-4 py-3">
    <div class="container text-center">
        <a href="https://github.com/z-siddiqi/job-tracker" target="_blank">
            <i class="bi bi-github" style="font-size: 1.5rem;"></i>
        </a>
    </div>
</footer>
{% endblock content %}