/* base */

:root {
	--header-height: 3rem;
	--nav-width: 68px;
}

body {
	font-family: sans-serif;
	position: relative;
	margin: var(--header-height) 0 2rem 0;
	padding: 0 1rem;
	font-size: 1rem;
	transition: .5s;
	background: #fbfbff;
	color: #424650;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 1250px;
    max-width: 100%;
    margin: auto;
}

.cp {
	padding-left: 0;
	padding-right: 0;
}

#icon {
	font-size: 1.5rem !important;
}

.navbar {
	padding: 1.8em 0em;
	margin-bottom: 0
}

.nav-pills > .nav-link.active {
	background-color: #343a40;
}

.breadcrumb {
    background-color: #e2e4e6;
}

.tox-tinymce {
	border-radius: 0.25rem !important;
}


/* header */

.header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: #f7f6fb;
	z-index: 100;
	transition: .5s;
}

.header-toggle {
	color: #5969e2;
	font-size: 1.5rem;
	cursor: pointer;
}


/* side navbar */

.side-bar {
	position: fixed;
	top: 0;
	left: -30%;
	width: var(--nav-width);
	height: 100vh;
	background-color: #5969e2;
	padding: .5rem 1rem 0 0;
	transition: .5s;
	z-index: 100;
}

.side-nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.side-nav-logo,
.side-nav-link {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 1rem;
	padding: .5rem 0 .5rem 1.5rem;
}

.side-nav-logo {
	margin-bottom: 2rem;
}

.side-nav-logo-icon {
	font-size: 1.25rem;
	color: #f7f6fb;
}

.side-nav-logo-name {
	color: #f7f6fb;
	font-weight: 700;
	text-transform: uppercase;
}

.side-nav-logo-name span {
	font-weight: 400;
}

.side-nav-link {
	position: relative;
	color: #caceed;
	margin-bottom: 1.5rem;
	transition: .3s;
}

.side-nav-link:hover {
	color: #f7f6fb;
}

.side-nav-icon {
	font-size: 1.25rem;
}

.show-nav {
	left: 0;
}

.body-pd {
	padding-left: calc(var(--nav-width) + 1rem);
}

.active-link {
	color: #f7f6fb;
}

.active-link::before {
	content: '';
	position: absolute;
	left: 0;
	width: 2px;
	height: 32px;
	background-color: #f7f6fb;
}


/* kanban */

#columns {
	overflow-y: hidden;
}

#outerColumn {
	background-color: #e2e4e6 !important;
	border: none;
	min-height: 20rem;
}

#innerColumn {
	padding: 0 0.6rem 0.5rem;
}

#jobCard {
	background-color: #fff !important;
	border-radius: 0.3rem;
	border-bottom: 0.1rem solid #ccc;
	margin-bottom: 0.6rem;
}

#jobCard .card-body {
	padding: 1rem;
	cursor: pointer;
}

.bold-txt {
	font-size: 1.2rem;
	font-weight: 700;
	color: #333;
}

.card-header {
	background-color: transparent;
	border-bottom: none;
}

.dyn-height {
	max-height: calc(100vh - 20rem);
	overflow-y: auto;
}

.add-card-btn {
	font-size: 2rem;
	color: #838c91;
	border: none;
	padding: 0.5rem;
}

.add-card-btn i {
	margin: auto;
}

.add-card-btn:hover {
	background-color: #cdd2d4;
	color: #4d4d4d;
}


/* tasks */

.form-check-input:hover {
	cursor: pointer;
}

.overflow {
	max-width: 85%;
	overflow: hidden;
}


/* media queries */

@media screen and (min-width: 768px) {
	body {
		margin: calc(var(--header-height) + 1rem) 0 2rem 0;
		padding-left: calc(var(--nav-width) + 2rem);
	}

	.header {
		height: calc(var(--header-height) + 1rem);
		padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
	}

	.side-bar {
		left: 0;
		padding: 1rem 1rem 0 0;
	}

	.show-nav {
		width: calc(var(--nav-width) + 156px);
	}

	.body-pd {
		padding-left: calc(var(--nav-width) + 188px);
	}

	.cp {
		padding-right: 15px !important;
	}
}