/* base */

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a #icon {
	font-size: 1.5rem !important;
}

.form-check-input:hover {
	cursor: pointer;
}


/* utility classes */

.my-6 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.mw-85 {
	max-width: 85%;
}

.border-m {
	border-width: medium;
	border-radius: .5em;
}

.dyn-height {
	max-height: calc(100vh - 15rem);
	overflow-y: auto;
}

.cpx-0 {
	padding-left: 0;
	padding-right: 0;
}

.grey-hover:hover {
	background-color: #eee;
}

.btm-shadow {
	border-bottom: 0.1rem solid #ccc;
}

.cursor-pointer {
	cursor: pointer;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-center {
	width: 400px;
	max-width: 90%;
}


/* buttons */

.btn-purple {
	color: #fff;
	background-color: #5969e2;
	border-color: #5969e2;
}

.btn-purple:hover {
	color: #fff;
	background-color: #7795f8;
	border-color: #7795f8;
}


/* media queries */

@media screen and (min-width: 768px) {
	.cpx-0 {
		padding-right: 15px !important;
	}
}