/* base */

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.dropdown-item:active {
    background-color: #5969e2;
}

.form-check-input:hover {
	cursor: pointer;
}


/* utility classes */

.my-6 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.mw-85 {
	max-width: 85%;
}

.border-m {
	border-width: medium;
}

.rounded-lg {
	border-radius: .4rem;
}

.transition {
	transition: 0.2s;
}

.dyn-height {
	max-height: calc(100vh - 15rem);
	overflow-y: auto;
}

.cpx-0 {
	padding-left: 0;
	padding-right: 0;
}

.grey-hover:hover {
	background-color: #eee !important;
}

.btm-shadow {
	border-bottom: 0.1rem solid #ccc !important;
}

.cursor-pointer {
	cursor: pointer;
}

.form-center {
	width: 400px;
	max-width: 100%;
	margin-bottom: 1.8rem;
}


/* buttons */

.btn-purple {
	color: #fff;
	background-color: #5969e2;
	border-color: #5969e2;
}

.btn-purple:hover {
	color: #fff;
	background-color: #7795f8;
	border-color: #7795f8;
}


/* media queries */

@media screen and (min-width: 768px) {
	.cpx-0 {
		padding-right: 15px !important;
	}
}