/* base */

html {
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
	color: #424650;
	margin: 0px;
	display: flex;
	flex-direction: column;
	padding-bottom: 5em;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.border {
	height: 6px;
	border: 1px solid #dee2e6 !important;
	background-color: #fd7576;
	background-image: linear-gradient(to right, #fd7576, #fd7576 25%, #fec85d 25%, #fec85d 50%, #4db8de 50%, #4db8de 75%, #a378fc 75%, #a378fc 100%, #a378fc 100%);
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
	background-size: 50% 100%;
}

.wrapper {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}

.main_header {
	margin: 0em 0 2em 0;
}

.logo h1 {
	float: left;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #34324b;
	font-weight: 700;
	line-height: normal;
	text-align: left;
}

.logo h1 span {
	font-weight: 400;
}

.navbar {
	padding: 1.8em 0em;
	margin-bottom: 0
}


/* Home */

.column {
	float: left;
}

.txt-column {
	width: 40%;
	margin-top: 65px;
	padding-right: 10px;
}

.txt-column h1 {
    font-size: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
}

.img-column {
	width: 60%;
}

.home-row::after {
	content: "";
	clear: both;
	display: table;
}

.demo-img {
	max-width: 100%;
}

.home-buttons {
	margin-top: 32px;
	display: flex;
	align-items: center;
}

.home-login {
	padding: 12px 20px;
	color: #5969e2;
	font-weight: 600;
	font-size: 18px;
	border-radius: 6px;
	transition: 0.2s;
}

.home-signup {
	padding: 12px 40px;
	background: #5969e2;
	color: white;
	font-weight: 700;
	font-size: 18px;
	border-radius: 6px;
	transition: 0.2s;
	display: flex;
	align-items: center;
}

.github-link {
	padding-top: 150px;
	text-align: center;
}

@media screen and (max-width: 1300px) {
	.txt-column {
		width: 100%;
		margin-top: 0px;
		padding-right: 0px;
	}

	.img-column {
		width: 100%;
	}
	
	.home-buttons {
		display: block;
	}
}


/* kanban board */

.board-title h2 {
	font-size: 2rem;
	margin-bottom: .5em;
}

.lists-container {
	display: flex;
	overflow-x: auto;
	height: calc(100vh - 17rem);
}

.list {
	flex: 0 0 18rem;
	display: flex;
	flex-direction: column;
	background-color: #e2e4e6;
	border-radius: 0.3rem;
	margin-right: 1rem;
}

.list-title {
	font-size: 1.2rem;
	font-weight: 700;
	color: #333;
	padding: 1rem;
}

.list-subtitle {
	font-size: 1.2rem;
	font-weight: 700;
	color: #333;
	text-decoration: none;
}

.list-items {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: start;
	padding: 0 0.6rem 0.5rem;
	overflow-y: auto;
	list-style-type: none;
}

.list-items li {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.3;
	background-color: #fff;
	padding: 0.65rem 0.6rem;
	color: #4d4d4d;
	border-bottom: 0.1rem solid #ccc;
	border-radius: 0.3rem;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
	cursor: pointer;
}

.list-items li:hover {
	background-color: #eee;
}

.add-card-btn {
	display: block;
	font-size: 1.2rem;
	font-weight: 400;
	color: #838c91;
	background: none;
	border: none;
	padding: 1rem;
	text-align: left;
	cursor: pointer;
}

.add-card-btn:hover {
	background-color: #cdd2d4;
	color: #4d4d4d;
}

.btn {
	display: flex;
}