/* pages */

body {
	font-family: sans-serif;
	background-color: #fbfbff;
	color: #424650;
	display: flex;
	flex-direction: column;
}

.content {
	width: 1200px;
	max-width: 90%;
	margin: auto;
	min-height: calc(100vh - 200px);
}

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
	background-color: #fbfbff;
	border-top: 1px solid rgba(25,4,69,0.1);
}

.logo {
	text-transform: uppercase;
	color: #34324b;
	font-weight: 700;
}

.logo span {
	font-weight: 400;
}


/* header */

.pages-header {
	width: 100%;
	margin: 0em 0 1em 0;
}

.pages-header #nav {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}

.pages-header .navbar {
	padding: 1.8em 0em;
	margin-bottom: 0;
}


/* home */

.home-buttons {
	display: flex;
}

#homeGuestSignup {
	padding: 12px 20px;
	color: #5969e2;
	font-weight: 600;
	font-size: 18px;
	border-radius: 6px;
	transition: 0.2s;
}

#homeSignup {
	padding: 12px 40px;
	background: #5969e2;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	border-radius: 6px;
	transition: 0.2s;
	display: flex;
	align-items: center;
}

#homeSignup:hover {
	background-color: #7795f8;
	color: #fff;
}

/* media queries */

@media screen and (max-width: 1200px) {
	#homeSignup {
		padding: 12px 20px;
	}

	.home-buttons {
		display: block;
	}
}