/* pages */

body {
	font-family: sans-serif;
	background-color: #fbfbff;
	color: #424650;
	display: flex;
	flex-direction: column;
}

.content {
	width: 1200px;
	max-width: 90%;
	margin: auto;
	min-height: calc(100vh - 200px);
}

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
	background-color: #fbfbff;
	border-top: 1px solid rgba(25,4,69,0.1);
}

.logo {
	text-transform: uppercase;
	color: #34324b;
	font-weight: 700;
}

.logo span {
	font-weight: 400;
}


/* header */

.pages-header {
	width: 100%;
	margin: 0 0 1rem 0;
}

.pages-header #nav {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}

.pages-header .navbar {
	padding: 1.8rem 0rem;
	margin-bottom: 0;
}


/* home */

#homeGuestSignup {
	padding: 0.75rem 1.25rem;
	font-size: 1.125rem;
	color: #5969e2;
}

#homeSignup {
	padding: 0.75rem 2.5rem;
	font-size: 1.125rem;
	background: #5969e2;
	color: #fff;
	display: flex;
	align-items: center;
}

#homeSignup:hover {
	background-color: #7795f8;
	color: #fff;
}


/* media queries */

@media screen and (max-width: 1200px) {
	#homeSignup {
		padding: 0.75rem 1.25rem;
	}

	.home-buttons {
		display: block !important;
	}
	
	.home-img {
		margin-top: 0.75rem;
	}
}