{% load crispy_forms_tags %}

<form action="{% url 'board_update' board.slug %}" onsubmit="handleBoardUpdateFormSubmit(event)">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Edit Board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{ form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark me-auto">Edit</button>
    </div>
</form>

<script type="module">
    import { EmojiButton } from "https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@latest/dist/index.min.js";

    const picker = new EmojiButton({
        position: "bottom-start",
        showPreview: false,
        autoFocusSearch: false,
        emojisPerRow: 6,
        rows: 4
    });
    
    const iconInput = document.querySelector("#id_icon");

    picker.on("emoji", selection => {
        iconInput.value = selection.emoji;
    });

    iconInput.addEventListener("click", (e) => {
        e.preventDefault();
        e.stopPropagation();
        picker.togglePicker(iconInput)
    });
</script>
<script>
    async function handleBoardUpdateFormSubmit(e) {
        e.preventDefault();
        const iconField = {"icon": document.querySelector("#id_icon").value};
        const form = e.target;
        const response = await submitForm(form, [iconField]);
        if (!response.ok) {
            const template = await response.text();
            const modalContent = form.closest(".modal-content");
            setInnerHTML(modalContent, template);
        } else {
            const data = await response.json();
            document.querySelector("#boardTitle").innerText = `${data.board.icon} ${data.board.title}`;
            const modalEl = form.closest(".modal");
            const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
            modal.hide();
        }
    };
</script>