{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3" id="container">
        <div class="row no-gutters align-items-center mb-3" id="boardTitle">
            <div class="col-8 text-truncate">
                <h3>{{ board }}</h3>
            </div>
            <div class="col-4 pb-1 text-right">
                <a href="#" class="show-modal" data-modal="#smallModal" data-url="{% url 'board_update' board.slug %}">
                    <i class="bx bx-edit-alt" id="icon"></i>
                </a>
                <a href="#" class="show-modal" data-modal="#smallModal" data-url="{% url 'board_delete' board.slug %}">
                    <i class="bx bx-trash ml-2" id="icon"></i>
                </a>
            </div>
        </div>
        <div class="row flex-row flex-nowrap overflow-y-hidden">
            {% for column in columns %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3" id="{{ column.lower }}">
                <div class="kanban-column card border-0">
                    <div class="card-header bg-transparent border-bottom-0">
                        <h5 class="card-title fw-700">{{ column }}</h5>
                    </div>
                    <div class="card-body px-2 py-0 dyn-height">
                        {% for job in jobs %}
                        {% if job.progress == column %}
                        <div class="card btm-shadow mb-2 show-modal" data-modal="#largeModal" data-url="{% url 'job_update' job.board.slug job.slug %}">
                            <div class="card-body p-3 rounded cursor-pointer grey-hover">
                                <div class="row no-gutters">
                                    <div class="col-11">
                                        <h5 class="mr-3">{{ job.company }}</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" class="float-right show-modal" data-modal="#smallModal" data-url="{% url 'job_delete' job.board.slug job.slug %}">
                                            <i class="bx bx-trash" id="icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="fw-700 ">{{ job.title }}</h5>
                                <p class="text-muted mb-0">{{ job.deadline }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="add-card-btn w-100 border-0 rounded-bottom show-modal" data-modal="#largeModal" data-url="{% url 'job_create' board.slug %}">
                    +
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="smallModal">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="largeModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock modal %}

{% block script %}
<script src="{% static 'js/sidenav.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock script %}