{% load crispy_forms_tags %}

<form action="{% url 'board_update' board.slug %}" onsubmit="handleBoardUpdateFormSubmit(event)">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Edit Board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{ form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark me-auto">Edit</button>
    </div>
</form>

<script>
    async function handleBoardUpdateFormSubmit(e) {
        e.preventDefault();
        const form = e.target;
        submitForm(form)
            .then((data) => {
                if (data.form) {
                    const modalContent = form.closest(".modal-content");
                    setInnerHTML(modalContent, data.form);
                } else {
                    document.querySelector("#boardTitle").innerText = data.board.title;
                    const modalEl = form.closest(".modal");
                    const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
                    modal.hide();
                }
            })
            .catch((error) => console.log(error));
    };
</script>