{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock style %}

{% block content %}
{% include 'app/header.html' %}
{% include 'app/sidebar.html' %}
<main>
    <div class="container-fluid cpx-0 pt-3">
        <div class="content">
            <div class="row g-0 align-items-center mb-3">
                <div class="col-8">
                    <h3>Boards</h3>
                </div>
                <div class="col-4 pb-1 text-end">
                    <a href="{% url 'board_create' %}" data-modal="#smallModal" onclick="showModal(event)">
                        <i class="bi bi-plus-lg fs-5"></i>
                    </a>
                </div>
            </div>
            <div class="row g-4">
                {% for board in boards %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="border rounded p-3 bg-white grey-hover btm-shadow" role="button" id="boardCard"
                        data-url="{{ board.get_absolute_url }}">
                        <h3>{{ board.icon }}</h3>
                        <h5 class="fw-bold text-truncate">{{ board }}</h5>
                        <span>{{ board.updated_at|timesince|upto:"," }} ago</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="smallModal">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock modal %}

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", (e) => {
        document.addEventListener("hidden.bs.modal", (e) => {
            e.target.querySelector(".modal-content").innerHTML = "";
        });

        document.querySelectorAll("#boardCard").forEach((card) => {
            card.addEventListener("click", (e) => {
                window.location = e.currentTarget.dataset.url;
            });
        });
    });
</script>
{% endblock script %}