{% load crispy_forms_tags %}
<form action="{% url 'job_update' job.board.slug job.slug %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-6">
            {{ job_form.company|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ job_form.title|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ job_form.deadline|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ job_form.progress|as_crispy_field }}
        </div>
    </div>
    {{ job_form.description|as_crispy_field }}
</form>