{% load crispy_forms_tags %}

<div class="modal-header d-block pb-0">
    <div class="d-flex align-items-center mb-3">
        <h3 class="mb-0">Job: {{ job.slug }}</h3>
        <button type="button" class="btn-close mt-0" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <nav class="nav nav-justified mb-0" id="tabs">
        <a href="#" class="nav-item nav-link text-dark active" data-tab="info">
            <i class="bi bi-info-square align-middle fs-5"></i>
            Info
        </a>
        <a href="#" class="nav-item nav-link text-dark" data-tab="tasks">
            <i class="bi bi-sticky align-middle fs-5"></i>
            Tasks
        </a>
    </nav>
</div>
<div class="modal-body">
    <div class="tabcontent" id="info">
        <form action="{% url 'job_update' job.board.slug job.slug %}" class="pb-3" data-job="{{ job.slug }}"
            onsubmit="handleJobUpdateFormSubmit(event)">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="tabcontent" id="tasks" hidden>
        <div id="taskCreateForm">
            {% include "tasks/task_create.html" with form=task_form %}
        </div>
        <div class="pb-3" id="taskList">
            {% include 'tasks/task_list.html' %}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".nav-link").forEach((navLink) => {
        navLink.addEventListener("click", (e) => {
            e.preventDefault();
            e.stopPropagation();
            const clickedTab = e.currentTarget.dataset.tab;
            document.querySelector("#tabs .active").classList.remove("active");
            document.querySelectorAll(".tabcontent").forEach((el) => {
                el.toggleAttribute("hidden");
            });
            e.currentTarget.classList.add("active");
        });
    });

    async function handleJobUpdateFormSubmit(e) {
        e.preventDefault();
        const form = e.target;
        const jobSlug = form.dataset.job;
        const response = await submitForm(form);
        if (!response.ok) {
            const template = await response.text();
            const modalContent = form.closest(".modal-content");
            setInnerHTML(modalContent, template);
        } else {
            const data = await response.json();
            const nextJobs = state.jobs.map((job) => job.slug === jobSlug ? { ...data.job } : job);
            nextJobs.sort((a, b) => Date.parse(a.deadline) - Date.parse(b.deadline));
            state.jobs = nextJobs;
            renderJobs();
            const modalEl = form.closest(".modal");
            const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
            modal.hide();
        }
    };

    document.querySelector("#clear_logo").addEventListener("click", (e) => {
        document.querySelector("#logo").src = "https://via.placeholder.com/130?text=Company+Logo";
        document.querySelector("#id_logo").value = "https://via.placeholder.com/130?text=Company+Logo";
    });

    initClearbitSearchBar("id_company", "company_dropdown_button", "company_dropdown_menu");
</script>