{% load crispy_forms_tags %}

<div class="modal-header">
    <h3>Add Job</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="mb-3">
        <label for="jobUrl">URL</label>
        <div class="input-group">
            <input type="url" class="form-control"
                placeholder="https://www.example.co.uk/viewjob?jk=8e32db7a&q=grad&l=glasgow" id="jobUrl">
            <a href="{% url 'scrape_job' board.slug %}" class="btn btn-outline-dark" onclick="scrapeJob(event)">Scrape</a>
        </div>
        <small class="form-text text-muted">Web scraping is currently only supported for job postings on Indeed,
            Totaljobs and Reed.</small>
    </div>
    <form action="{% url 'job_create' board.slug %}" class="pb-3" onsubmit="handleJobCreateFormSubmit(event)">
        {% crispy form %}
    </form>
</div>

<script>
    async function scrapeJob(e) {
        e.preventDefault();
        const url = new URL(e.currentTarget.href);
        const jobUrl = document.getElementById("jobUrl").value;
        url.searchParams.append("jobUrl", jobUrl);
        const requestOptions = {
            method: "GET",
            headers: { "X-Requested-With": "XMLHttpRequest" },
        };
        const response = await fetch(url, requestOptions);
        const data = await response.json();
        if (response.ok) {
            document.querySelector("#id_company").value = data.company;
            document.querySelector("#id_title").value = data.title;
            $(document.querySelector("#id_description")).summernote("code", data.description);
        }
    };

    async function handleJobCreateFormSubmit(e) {
        e.preventDefault();
        const form = e.target;
        const response = await submitForm(form);
        if (!response.ok) {
            const template = await response.text();
            const modalContent = form.closest(".modal-content");
            setInnerHTML(modalContent, template);
        } else {
            const data = await response.json();
            const nextJobs = [...state.jobs, data.job];
            nextJobs.sort((a, b) => Date.parse(a.deadline) - Date.parse(b.deadline));
            state.jobs = nextJobs;
            renderJobs();
            const modalEl = form.closest(".modal");
            const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
            modal.hide();
        }
    };

    document.querySelector("#clear_logo").addEventListener("click", (e) => {
        document.querySelector("#logo").src = "https://via.placeholder.com/130?text=Company+Logo";
        document.querySelector("#id_logo").value = "https://via.placeholder.com/130?text=Company+Logo";
    });

    initClearbitSearchBar("id_company", "company_dropdown_button", "company_dropdown_menu");
</script>