{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header">
    <h3>Add Job</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label for="inputUrl">URL</label>
    <div class="input-group">
        <input class="form-control" type="url"
            placeholder="https://www.example.co.uk/viewjob?jk=8e32db7a&q=grad&l=glasgow" id="inputUrl">
        <span class="input-group-append">
            <button type="button" class="btn btn-dark scrape-button"
                data-url="{% url 'scrape_job' board.slug %}">Scrape</button>
        </span>
    </div>
    <small class="form-text text-muted mb-3">Web scraping is currently only supported for job postings on Indeed,
        Totaljobs and Reed.</small>
    <form action="{% url 'job_create' board.slug %}" method="post" class="form job-create pb-3">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6">
                {{ form.company|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.title|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                {{ form.deadline|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.progress|as_crispy_field }}
            </div>
        </div>
        {{ form.description|as_crispy_field }}
        <button class="btn btn-dark" type="submit">Create</button>
    </form>
</div>

<script src="{% static 'js/scrape.js' %}"></script>
<script>
    $("#largeModal").off('hidden.bs.modal');  // remove existing event handler
    $("#largeModal").on('hidden.bs.modal', function () {
        $(this).find('.modal-content').empty();
    });
</script>