{% load crispy_forms_tags %}

<div class="modal-header d-block pb-0">
    <div class="d-flex align-items-center mb-3">
        <h3 class="mb-0">Job: {{ job.slug }}</h3>
        <button type="button" class="btn-close mt-0" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <nav class="nav nav-justified mb-0" id="tabs">
        <a href="#" class="nav-item nav-link text-dark active" data-id="job">
            <i class="bi bi-info-square fs-5"></i>
            Info
        </a>
        <a href="#" class="nav-item nav-link text-dark" data-id="tasks">
            <i class="bi bi-sticky fs-5"></i>
            Tasks
        </a>
    </nav>
</div>
<div class="modal-body">
    <div class="tabcontent" id="job">
        <form action="{% url 'job_update' job.board.slug job.slug %}" method="post" class="form job-update pb-3">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.company|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.deadline|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.progress|as_crispy_field }}
                </div>
            </div>
            {{ form.description|as_crispy_field }}
            <button class="btn btn-dark" type="submit">Save</button>
        </form>
    </div>
    <div class="tabcontent" id="tasks" hidden>
        {% include "tasks/task_create.html" with form=task_form %}
        {% include 'tasks/task_list.html' %}
    </div>
</div>

<script>
    $("#tabs").on('click', '.nav-link', function () {
        var clickedTab = $(this);
        var clickedTabId = clickedTab.data('id');
        $("a.active").removeClass('active');
        $(".tabcontent").prop('hidden', true);
        $("#" + clickedTabId).prop('hidden', false);
        clickedTab.addClass('active');
    });
</script>