{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/pages.css' %}" rel="stylesheet">
{% endblock style %}

{% block body_id %}id="baseBody"{% endblock body_id %}

{% block content %}
<div class="content">
    <div class="error-msg">
        <h1>404</h1>
        <h2>Oops, the page you are looking for can't be found!</h2>
        <h2>Let's go <a style='color: #5969e2' href="{% url 'home' %}">home</a> and try from there.</h2>
    </div>
</div>
{% endblock content %}