{% extends "base.html" %}
{% load static %}
{% block title %}Job Applications{% endblock title %}
{% block styles %}
<link href="{% static 'css/card.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="lists-container">
   <div class="list">
      <h3 class="list-title">Wishlist</h3>
      <ul class="list-items">
         {% for application in applications_list %}
         {% if application.progress == 'WI' %}
            <li>
                <h6>{{ application.company }}</h6>
                <a href="{% url 'application_edit' application.pk %}">
                <h3 class="list-subtitle">{{ application.title }}</h3>
                </a>
                <p>{{ application.notes }}</p>
                <a href="{% url 'application_delete' application.pk %}" style="color:red">Delete</a>
            </li>
         {% endif %}
         {% endfor %}
      </ul>
      <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' %}"'>Add a card</button>
   </div>
   <div class="list">
      <h3 class="list-title">Applied</h3>
      <ul class="list-items">
         {% for application in applications_list %}
         {% if application.progress == 'AP' %}
            <li>
                <h6>{{ application.company }}</h6>
                <a href="{% url 'application_edit' application.pk %}">
                <h3 class="list-subtitle">{{ application.title }}</h3>
                </a>
                <p>{{ application.notes }}</p>
                <a href="{% url 'application_delete' application.pk %}" style="color:red">Delete</a>
            </li>
         {% endif %}
         {% endfor %}
      </ul>
      <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' %}"'>Add a card</button>
   </div>
   <div class="list">
      <h3 class="list-title">Phone</h3>
      <ul class="list-items">
         {% for application in applications_list %}
         {% if application.progress == 'PH' %}
            <li>
                <h6>{{ application.company }}</h6>
                <a href="{% url 'application_edit' application.pk %}">
                <h3 class="list-subtitle">{{ application.title }}</h3>
                </a>
                <p>{{ application.notes }}</p>
                <a href="{% url 'application_delete' application.pk %}" style="color:red">Delete</a>
            </li>
         {% endif %}
         {% endfor %}
      </ul>
      <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' %}"'>Add a card</button>
   </div>
   <div class="list">
      <h3 class="list-title">Onsite</h3>
      <ul class="list-items">
         {% for application in applications_list %}
         {% if application.progress == 'OS' %}
            <li>
                <h6>{{ application.company }}</h6>
                <a href="{% url 'application_edit' application.pk %}">
                <h3 class="list-subtitle">{{ application.title }}</h3>
                </a>
                <p>{{ application.notes }}</p>
                <a href="{% url 'application_delete' application.pk %}" style="color:red">Delete</a>
            </li>
         {% endif %}
         {% endfor %}
      </ul>
      <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' %}"'>Add a card</button>
   </div>
   <div class="list">
      <h3 class="list-title">Offer</h3>
      <ul class="list-items">
         {% for application in applications_list %}
         {% if application.progress == 'OF' %}
            <li>
                <h6>{{ application.company }}</h6>
                <a href="{% url 'application_edit' application.pk %}">
                <h3 class="list-subtitle">{{ application.title }}</h3>
                </a>
                <p>{{ application.notes }}</p>
                <a href="{% url 'application_delete' application.pk %}" style="color:red">Delete</a>
            </li>
         {% endif %}
         {% endfor %}
      </ul>
      <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' %}"'>Add a card</button>
   </div>
   <div class="list">
      <h3 class="list-title">Rejected</h3>
      <ul class="list-items">
         {% for application in applications_list %}
         {% if application.progress == 'RE' %}
            <li>
                <h6>{{ application.company }}</h6>
                <a href="{% url 'application_edit' application.pk %}">
                <h3 class="list-subtitle">{{ application.title }}</h3>
                </a>
                <p>{{ application.notes }}</p>
                <a href="{% url 'application_delete' application.pk %}" style="color:red">Delete</a>
            </li>
         {% endif %}
         {% endfor %}
      </ul>
      <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' %}"'>Add a card</button>
   </div>
</section>
{% endblock content %}