{% load static %}
<!doctype html>
<html lang="en">
   <head>
       <title>Job Tracker</title>
       <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       {% block styles %}
       {% endblock %}
       <link href="{% static 'css/base.css' %}" rel="stylesheet">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <title>{% block title %}Job Tracker App{% endblock title %}</title>
    </head>
    <body>
       <div class="border"></div>
       <div class="wrapper">
       <header class="main_header clearfix">
          <div class="logo">
              <h1> Job <span>Tracker</span></h1>
          </div>
          <div class="nav">
             <a href="{% url 'applications_list' %}" class="current">My Board</a>
             <a href="{% url 'job_results' %}">Job Search</a>
             {% if user.is_authenticated %}
               <a href="{% url 'password_change' %}">Settings</a>
               <a href="{% url 'logout' %}">Log Out</a>
             {% else %}
               <a href="{% url 'login' %}">Log In</a>
             {% endif %}
          </div>
       </header>
       {% block content %}
       {% endblock content %}
    </body>
</html>