{% load static %}
<!doctype html>
<html lang="en">
   <head>
       <title>Job Tracker</title>
       <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <link href="{% static 'css/base.css' %}" rel="stylesheet">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <title>{% block title %}Job Tracker App{% endblock title %}</title>
    </head>
    <body>
       <div class="border"></div>
       <div class="wrapper">
       <header class="main_header clearfix">
          <div class="logo">
              <a href="{% url 'applications_list' %}" class="current"><h1> Job <span>Tracker</span></h1></a>
          </div>
          <div class="nav">
             <ul>
               <li><a href="{% url 'job_results' %}" class="current">Job Search</a></li>
               {% if user.is_authenticated %}
                  <li><a href="{% url 'password_change' %}">Settings</a></li>
                  <li><a href="{% url 'logout' %}">Log Out</a></li>
               {% else %}
                  <li><a href="{% url 'login' %}">Log In</a></li>
               {% endif %}
             </ul>
          </div>
       </header>
       {% block content %}
       {% endblock content %}
       <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>