{% extends 'base.html' %}
{% block content %}
<div class="board-title" id="board-title">
    <div class="dropdown">
        <h2>{{ board.title }}</h2>
        <a href="#" data-toggle="dropdown">
            <i class="fas fa-caret-square-down fa-lg"></i>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item show-form-update" data-url="{% url 'board_update' board.pk %}" href="#">Edit</a>
            <a class="dropdown-item show-form-delete" data-url="{% url 'board_delete' board.pk %}" href="#">Delete</a>
        </div>
    </div>
</div>
<section class="lists-container">
    {% for column in columns %}
    <div class="list">
        <h3 class="list-title">{{ column }}</h3>
        <ul class="list-items" id="applied">
            {% for application in applications %}
            {% if application.progress == column %}
            <li onclick='location.href ="{% url 'application_detail' application.board.pk application.pk %}"'>
                <h5>{{ application.company }}</h5>
                <h3 class="list-subtitle">{{ application.title }}</h3>
                <p>{{ application.deadline }}</p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' board.pk %}"'>
            <i class="fas fa-plus"></i>
        </button>
    </div>
    {% endfor %}
</section>
<div class="modal fade" id="modal-app">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}