{% extends 'base.html' %}
{% block nav-item %}
<li class="nav-item">
    <a class="nav-link" style='color: #fd7576' href="{% url 'board_delete' board.pk %}">Delete Board</a>
</li>
{% endblock %}
{% block content %}
<div class="board-title">
    <h2>{{ board.title }}</h2>
</div>
<section class="lists-container">
    {% for column in columns %}
    <div class="list">
        <h3 class="list-title">{{ column }}</h3>
        <ul class="list-items" id="applied">
            {% for application in applications %}
            {% if application.progress == column %}
            <li onclick='location.href ="{% url 'application_detail' application.board.pk application.pk %}"'>
            <h5>{{ application.company }}</h5>
            <h3 class="list-subtitle">{{ application.title }}</h3>
            <p>{{ application.deadline }}</p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <button class="add-card-btn btn" onclick='location.href="{% url 'application_new' board.pk %}"'>
            Add a card...
        </button>
    </div>
    {% endfor %}
</section>
{% endblock content %}