{% extends 'base.html' %}
{% block content %}
<h2>{{ application.title }}</h2>
<h5>{{ application.company }}</h5>
<br>
<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" href="{% url 'application_detail' application.board.pk application.pk %}">Job Info</a>
    <a class="nav-item nav-link active" href="#">Tasks</a>
</nav>
<br>
<form class="" id="createTaskForm" method="POST" data-url="{% url 'task_list' application.pk %}">
    {% csrf_token %}
    <div class="input-group input-group-lg mb-4">
        {{ form.title }}
        <span class="input-group-append">
        <button type="button" class="btn btn-dark btn-lg" id="createButton">Add</button>
        </span>
    </div>
</form>
<div class="" id="taskList">
    {% for task in tasks %}
    <div class="card mb-1" id="taskCard" data-id="{{ task.id }}" 
        style="{% if task.completed %} text-decoration: line-through {% endif %}">
        <div class="card-body" >
            {{ task.title }}
            <button type="button" class="close float-right" data-id="{{ task.id }}">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}