{% load crispy_forms_tags %}

<form action="{% url 'task_create' %}" onsubmit="handleTaskCreateFormSubmit(event)">
    <input type="hidden" name="job-slug" value="{{ job.slug }}">
    {% crispy form %}
</form>

<script>
    async function handleTaskCreateFormSubmit(e) {
        e.preventDefault();
        const form = e.target;
        const response = await submitForm(form);
        if (!response.ok) {
            const template = await response.text();
            document.querySelector("#taskCreateForm").innerHTML = template;
        } else {
            const template = await response.text();
            const input = form.querySelector("#id_task");
            if (input.classList.contains("is-invalid")) {
                input.classList.remove("is-invalid");
                form.querySelector("[id^='error_']").remove();
            }
            form.reset();
            document.querySelector("#taskList").innerHTML += template;
        }
    };
</script>